<a href="https://colab.research.google.com/github/ananyas-2002/pythonlab/blob/main/demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=[2,4,6,8,10,2,6,4,8]
print(n)

[2, 4, 6, 8, 10, 2, 6, 4, 8]

In [ ]:
n=input("enter number separated by comma:")
t=list(map(int,n.split(',')))
print("LIST:",t)
new_list=[]
for item in t:
    if item not in new_list:
        new_list.append(item)
print("new list=",new_list)

enter number separated by comma:2,4,6,8,10,12,2,4,6,8,14,16
LIST: [2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 14, 16]
new list= [2, 4, 6, 8, 10, 12, 14, 16]

In [ ]:
n=input("enter a strig:")
print("string=",n)
slice1=n[0:5]
slice2=n[3:6]
index1=n[3]
print("sliced string=",slice1)
print("sliced 2nd string=",slice2)
print("value of string=",index1)

enter a strig:helloworld
string= helloworld
sliced string= hello
sliced 2nd string= low
value of string= l

In [ ]:
n=int(input("enter number:"))
mylist=[]
for i in range(0,n):
    element=int(input("enter element to the list:"))
    mylist.append(element)
print("mylist=",mylist)
p_lst=[]
n_lst=[]
for value in mylist:
    if value>=0:
        p_lst.append(value)
    else:
        n_lst.append(value)
print("positive list=",p_lst)
print("negative list=",n_lst)

enter number:10
enter element to the list:2
enter element to the list:4
enter element to the list:6
enter element to the list:-2
enter element to the list:10
enter element to the list:89
enter element to the list:-5
enter element to the list:36
enter element to the list:-10
enter element to the list:7
mylist= [2, 4, 6, -2, 10, 89, -5, 36, -10, 7]
positive list= [2, 4, 6, 10, 89, 36, 7]
negative list= [-2, -5, -10]

In [ ]:
n=[0,48,2,1,19,35,46,57,40]
print(n)
oddlist=[]
evenlist=[]
for item in n:
    if item==0:
        print(" zero is neither odd nor even")
    elif item%2==0:
        evenlist.append(item)
    else:
        oddlist.append(item)
print("even list=",evenlist)
print("odd list=",oddlist)

[0, 48, 2, 1, 19, 35, 46, 57, 40]
 zero is neither odd nor even
even list= [48, 2, 46, 40]
odd list= [1, 19, 35, 57]

In [ ]:
lst=[]
mytuple=()
n=int(input("enter number:"))
for i in range(0,n):
    lst.append(int(input("enter element:")))
mytuple=tuple(lst)
print("TUPLE=",mytuple)

enter number:5
enter element:2
enter element:6
enter element:9
enter element:23
enter element:18
TUPLE= (2, 6, 9, 23, 18)

In [ ]:
t=(2,8,12,17,56,45)
print("tuple=",t)
print("slice1 the tuple=",t[2:4])
print("slice2 the tuple=",t[:3])

tuple= (2, 8, 12, 17, 56, 45)
slice1 the tuple= (12, 17)
slice2 the tuple= (2, 8, 12)