In [22]:
txt="Department of computer Science Mangalore University Mangalagangothiri Dakshina  Kannada "
print("string before split:",txt)
list1=list(txt.split(" "))
print("string after splitting:",list1)
print("index of university:",list1.index('University'))

string before split: Department of computer Science Mangalore University Mangalagangothiri Dakshina  Kannada
string after splitting: ['Department', 'of', 'computer', 'Science', 'Mangalore', 'University', 'Mangalagangothiri', 'Dakshina', '', 'Kannada', '']
index of university: 5

In [21]:
txt="Department of computer Science Mangalore University Mangalagangothiri Dakshina Kannada "
print("string before split:",txt)
list1=[]
tmp=''
index=-1
for i in txt:
    if i==' ':
        list1.append(tmp)
        tmp=''
    else:
        tmp+=i
for i in range(len(list1)):
    if list1[i]=='University':
        index=i
print("string after after splitting to list:",list1)
print("index of university:",index)

string before split: Department of computer Science Mangalore University Mangalagangothiri Dakshina Kannada
string after after splitting to list: ['Department', 'of', 'computer', 'Science', 'Mangalore', 'University', 'Mangalagangothiri', 'Dakshina', 'Kannada']
index of university: 5

In [24]:
tuple1=("hi","hello")
print(tuple1)
print(type(tuple1))

('hi', 'hello')
<class 'tuple'>

In [30]:
tuple1=("Hi",[2,4,6,8],(5,6,9,10))
print(tuple1)
print(tuple1[0][1])
tuple1[1][2]=89
print(tuple1)
#tuple1[2][1]=90
#print(tuple1)

('Hi', [2, 4, 6, 8], (5, 6, 9, 10))
i
('Hi', [2, 4, 89, 8], (5, 6, 9, 10))

TypeError: 'tuple' object does not support item assignment

In [43]:
tuple1=(2,4,5,6,8,9,12,6,3,6,89,6)
print(tuple1)
print("max of tuple1:",max(tuple1))
print("min of tuple1:",min(tuple1))
print("count of 6:",tuple1.count(6))
print("index of 6:",tuple1.index(6))
print("index of 5:",tuple1.index(5))
print("sum of:",sum(tuple1))
print("sorted of:",sorted(tuple1))
str1="HELLO"
tuple2=tuple(str1)
print("string tuple:",tuple2)
tuple3=tuple(i for i in range(5))
print("iterate value:",tuple3)
print("enumerate of tuple:",enumerate(tuple1))
print("enumerate of tuple")
for i,val in enumerate(tuple1):
    print(i,":",val)
print("length of tuple:",len(tuple1))

(2, 4, 5, 6, 8, 9, 12, 6, 3, 6, 89, 6)
max of tuple1: 89
min of tuple1: 2
count of 6: 4
index of 6: 3
index of 5: 2
sum of: 156
sorted of: [2, 3, 4, 5, 6, 6, 6, 6, 8, 9, 12, 89]
string tuple: ('H', 'E', 'L', 'L', 'O')
iterate value: (0, 1, 2, 3, 4)
enumerate of tuple: <enumerate object at 0x00000118DD5EC440>
enumerate of tuple
0 : 2
1 : 4
2 : 5
3 : 6
4 : 8
5 : 9
6 : 12
7 : 6
8 : 3
9 : 6
10 : 89
11 : 6
length of tuple: 12

In [48]:
tup1=(2,4,6,8)
tup2=(5,7,11,15)
print("First tuple=",tup1)
print("Second tuple=",tup2)
tup3=tup1+tup2
print("concatenated tuple:",tup3)
tup2=tup2*(3)
print("repetation of tuple2=",tup2)

First tuple= (2, 4, 6, 8)
Second tuple= (5, 7, 11, 15)
concatenated tuple: (2, 4, 6, 8, 5, 7, 11, 15)
repetation of tuple2= (5, 7, 11, 15, 5, 7, 11, 15, 5, 7, 11, 15)