<a href="https://colab.research.google.com/github/ananyas-2002/pythonlab/blob/main/exercise2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
stud_list=['Anjali','anu','sana','ram']
marklist=[22,56,78,38,98]
combined=stud_list+marklist
print("combined list",combined)
print("length of name",len(stud_list))
print("length of mark",len(marklist))
print("max of name",max(stud_list))
print("max of mark",max(marklist))
print("min of name",min(stud_list))
print("min of mark",min(marklist))
print("sum of mark",sum(marklist))

combined list ['Anjali', 'anu', 'sana', 'ram', 22, 56, 78, 38, 98]
length of name 4
length of mark 5
max of name sana
max of mark 98
min of name Anjali
min of mark 22
sum of mark 292

In [ ]:
stud_list=['Anjali','manu','ram','sana']
st=['hi','ello','were']
combined=stud_list+st
print(combined)

['Anjali', 'manu', 'ram', 'sana', 'hi', 'ello', 'were']

In [ ]:
number=[56,89,76,24,56,99]
for i in number:
    print(i)
print("first element",number[0])
print("second element",number[1])
print("last element",number[-1])
print("slice",number[1:5])

56
89
76
24
56
99
first element 56
second element 89
last element 99
slice [89, 76, 24, 56]

In [ ]:
rev=0
number=int(input("enter number:"))
temp=number
while(number>0):
    rem=number%10
    rev=rev*10+rem
    number=number//10
if(temp==rev):
    print("number is palindrome")
else:
    print("number is not a palindrome")

enter number:121
number is palindrome

In [ ]:
n=int(input("enter number:"))
for i in range(0,n):
    print(2**i)

enter number:6
1
2
4
8
16
32

In [ ]:
sum_1=0
n=int(input("enter number:"))
i=1
print("natural number")
while(i<=n):
    print(i," ")
    sum_1=sum_1+i
    i=i+1
print("sum of natural number=",sum_1)

enter number:10
natural number
1
2
3
4
5
6
7
8
9
10
sum of natural number= 55

In [ ]:
n=int(input("enter number of lines:"))
for i in range(n):
    for j in range(i+1):
        print("*",end='')
    print("\n")

enter number of lines:6
*

**

***

****

*****

******

In [ ]:
n=int(input("enter number of lines:"))
for i in range(n,0,-1):
    for j in range(i):
        print("*",end="")
    print()

enter number of lines:5
*****
****
***
**
*

In [ ]:
n=int(input("enter number of lines:"))
for i in range(n):
    asciivalue=65
    for j in range(i+1):
        char=chr(asciivalue)
        print(char,end="")
        asciivalue+=1
    print()

enter number of lines:5
A
AB
ABC
ABCD
ABCDE

In [ ]:
n=int(input("enter number of lines:"))
for i in range(n):
    for j in range(n-i):
        print(end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()

enter number of lines:5
     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
n=int(input("enter number of lines:"))
asciivalue=65
for i in range(n):
    for j in range(i+1):
        char=chr(asciivalue)
        print(char,end="")
        asciivalue+=1
    print()

enter number of lines:5
A
BC
DEF
GHIJ
KLMNO

In [ ]:
n=int(input("enter number of lines:"))
asciivalue=65
for i in range(n):
    for j in range(i+1):
        char=chr(asciivalue)
        print(char,end="")
    asciivalue+=1
    print()

enter number of lines:5
A
BB
CCC
DDDD
EEEEE

In [ ]:
n=int(input("enter number to print upto:"))
print("natural numbers in reverse order:")
for i in range(n,0,-1):
    print(i,end=" ")

enter number to print upto:10
natural numbers in reverse order:
10 9 8 7 6 5 4 3 2 1

In [ ]:
n=int(input("enter number:"))
f1=0
f2=1
print("fibonacci series")
print(f1,f2,end=" ")
for i in range(n):
    f3=f1+f2
    f1=f2
    f2=f3
    print(f3,end=" ")

enter number:5
fibonacci series
0 1 1 2 3 5 8

In [ ]:
num=int(input("enter number:"))
fact=1
for i in range(1,n+1):
    fact*=i
print("factorial of number",n,"is:",fact)

enter number:5
factorial of number 5 is: 120

In [ ]:
n=int(input("enter number:"))
num=89
for i in range(n):
    for j in range(i+1):
        print(num,end=" ")
        num+=1
    print()

enter number:5
89
90 91
92 93 94
95 96 97 98
99 100 101 102 103

In [ ]:
n=int(input("enter number:"))
num=89
for i in range(n):
    for j in range(i+1):
        print(num,end=" ")
    num+=1
    print()

enter number:5
89
90 90
91 91 91
92 92 92 92
93 93 93 93 93

In [ ]:
n=int(input("enter number:"))
for i in range(n):
    num=89
    for j in range(i+1):
        print(num,end=" ")
        num+=1
    print()

enter number:5
89
89 90
89 90 91
89 90 91 92
89 90 91 92 93

In [ ]:
n=int(input("enter number:"))
f1=0
f2=1
i=1
print(f1,f2,end=" ")
while(i<=n):
    i+=1
    f3=f1+f2
    f1=f2
    f2=f3
    print(f3,end=" ")

enter number:5
0 1 1 2 3 5 8

In [ ]:
n=int(input("enter number:"))
for i in range(n):
    num=89
    for k in range(n-i):
        print(end=" ")
    for j in range(i+1):
        print(num,end=" ")
        num+=1
    print()

enter number:5
     89
    89 90
   89 90 91
  89 90 91 92
 89 90 91 92 93