In [14]:
import sqlite3

In [15]:
con=sqlite3.connect("tutorial.db")

In [16]:
cur=con.cursor()

In [19]:
cur.execute("CREATE TABLE movie(title, year, score)")

In [20]:
print(cur.execute("SELECT * from movie"))

<sqlite3.Cursor object at 0x0000029E6E9A1BC0>

In [21]:
res = cur.execute("SELECT name FROM sqlite_master")

In [22]:
res.fetchone()

('movie',)

In [23]:
cur.execute("""
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")

In [24]:
con.commit()

In [25]:
res = cur.execute("SELECT  title, year FROM movie")

In [26]:
res.fetchall()

[('Monty Python and the Holy Grail', 1975),
 ('And Now for Something Completely Different', 1971)]

In [27]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
con.commit()  # Remember to commit the transaction after executing INSERT.

In [28]:
for row in cur.execute("SELECT year, title FROM movie ORDER BY year"):
    print(row)

(1971, 'And Now for Something Completely Different')
(1975, 'Monty Python and the Holy Grail')
(1979, "Monty Python's Life of Brian")
(1982, 'Monty Python Live at the Hollywood Bowl')
(1983, "Monty Python's The Meaning of Life")

In [29]:
import sqlite3
#con=sqlite3.connect("tutorial.db")
cur=con.cursor()
res=cur.execute("DROP TABLE movie")
res.fetchall()

[]

In [33]:
import sqlite3
con=sqlite3.connect("Sample.db")
cur=con.cursor()
cur.execute("create table student_detail(Roll,Name,Grade)")
cur.execute(""" insert into student_detail values(1,'ANN','A'),(2,'BEN','B'),(3,'Charles','C')""")
con.commit()
res=cur.execute("select Name from student_detail")
res.fetchone()
print(res.fetchone())
res=cur.execute("select * from student_detail")
res.fetchall()

('BEN',)

[(1, 'ANN', 'A'), (2, 'BEN', 'B'), (3, 'Charles', 'C')]

In [32]:
import sqlite3
#con=sqlite3.connect("Sample.db")
cur=con.cursor()
res=cur.execute("DROP TABLE student_detail")
res.fetchall()

[]