In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("tutorial.db")

In [3]:
cur = con.cursor()

In [4]:
cur.execute("CREATE TABLE movie(title, year, score)")

In [7]:
print(cur.execute("SELECT * from movie"))

<sqlite3.Cursor object at 0x7f479338d6c0>

In [10]:
res = cur.execute("SELECT name FROM sqlite_master")

In [11]:
res.fetchone()

('movie',)

In [12]:
cur.execute("""
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")

In [13]:
con.commit()

In [17]:
res = cur.execute("SELECT  title, year FROM movie")

In [18]:
res.fetchall()

[('Monty Python and the Holy Grail', 1975),
 ('And Now for Something Completely Different', 1971)]

In [19]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
con.commit()  # Remember to commit the transaction after executing INSERT.

In [20]:
for row in cur.execute("SELECT year, title FROM movie ORDER BY year"):
    print(row)

(1971, 'And Now for Something Completely Different')
(1975, 'Monty Python and the Holy Grail')
(1979, "Monty Python's Life of Brian")
(1982, 'Monty Python Live at the Hollywood Bowl')
(1983, "Monty Python's The Meaning of Life")